@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: palegreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scrollbar {
  position: absolute;
  bottom: -11em;
  overflow-y: scroll;
  height: 410px;
  border: 1px solid #ccc;
  width: 520px;
  left: 28em;
  top: 37em;
  transform: scale(2);
  background-color: palegreen;
}

.addLegoButton {
  position: relative;
  top: -60em;
  left: 10em;
}

/* Main scrollbar styles */
body::-webkit-scrollbar {
  width: 2em;
  background-image: url("assets/images/legoscrollbar.jpg");
  background-size: 100%;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-image: url("assets/images/legoscroll.png"),
    linear-gradient(100deg, transparent, transparent);
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

/* Main scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 2em;
  background-image: url("assets/images/legoscrollbar.jpg");
  background-size: 100%;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-image: url("assets/images/legoscroll.png"),
    linear-gradient(100deg, transparent, transparent);
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}

.logo {
  object-fit: cover;
  width: 100em;
  height: 100em;
  position: relative;
  top: -0em;
}

.home {
  font-size: 40px;
  color: red;
  text-align: center;
  position: relative;
  top: 0em;
  bottom: 0em;
  left: 0em;
  height: fit-content;
  margin: auto;
}

.home:hover {
  font-size: 50px;
  color: red;
  position: relative;
  padding-bottom: 1.75em;
  background-image: url("assets/images/brickbuttonhome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Additional CSS properties for styling the container */
  width: 3.5em;
  height: 0em;
  transform: scale(1.2);
}

.cart {
  font-size: 28px;
  color: red;
  text-align: center;
  position: relative;
  top: 1.25em;
  bottom: 0;
  left: 1.25em;
  height: fit-content;
  margin: auto;
}

.cart:hover {
  font-size: 29px;
  color: red;
  position: relative;
  padding-left: 0.65em;
  top: 1.25em;
  left: 0.5em;
  right: 1.25em;
  height: 3em;
  width: auto;
  background-image: url("assets/images/legobuttoncart.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  /* Additional CSS properties for styling the container */
  transform: scale(1.2);
}

.cartText {
  position: relative;
  top: 0.25em;
  left: -0.75em;
}

.homeText {
  position: relative;
  top: 0.25em;
}

.logovertical {
  background-image: url("assets/images/legoscrollbarvertical.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Additional CSS properties for styling the container */
  width: 100%;
  height: 18em;
  display: flex;
}

.legowebshoptext {
  font-size: 2em;
  background-color: rgb(255, 189, 9);
  color: black;
}

.background-image-container {
  background-image: url("assets/images/legobutton.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Additional CSS properties for styling the container */
  width: 12em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0em;
  left: 2em;
}

.background-image-container:hover {
  font-size: 18px;
  position: relative;
  top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  left: 1.1em;
  background-image: url("assets/images/legobutton.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Additional CSS properties for styling the container */
  width: 10em;
  height: 4em;
  bottom: -0.5em;
  transform: scale(1.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addLegoText {
  font-size: 24px;
  color: red;
  position: relative;
  padding-top: 0.75em;
  right: -0.25em;
}

.addButtonContainer {
  display: flex;
  position: relative;
  top: 1em;
}

.addNewLegoText {
  font-size: 1.5em;
  background-image: url("assets/images/redlegobutton.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Additional CSS properties for styling the container */
  width: 15em;
  height: 5em;
  display: flex;
}

.addNewLegoContainer {
  position: relative;
  top: -59em;
  left: 11.5em;
  bottom: 45em;
}

.emailInput {
  position: absolute;
  left: 4.7em;
  top: 10.5em;
}

.logoFooter {
  background-image: url("assets/images/legoscrollbarvertical.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Additional CSS properties for styling the container */
  width: 100%;
  height: 210px;
  display: flex;
}

.footerContainer {
  position: absolute;
  top: 60em;
  width: 100%;
}

.legofooter {
  font-size: 2em;
  background-color: rgb(255, 189, 9);
  color: black;
}

.selectFileButtonInput {
  position: relative;
  left: 0.65em;
}

.legoListContainer {
  width: 15em;
}

.legoDataText {
  font-size: 8px;
  display: flex;
  flex-wrap: wrap;
}

.legoContainerText {
  flex-basis: 33%;
  flex-grow: 1;
}

.descriptionText {
  color: blue;
}

.priceText {
  color: magenta;
}

.editButton {
  transform: scale(0.25);
  position: relative;
  left: -8.5em;
}

.editButtonText {
  font-size: 2em;
  color: aqua;
  position: relative;
  top: 0.25em;
}

.editDeleteButtonContainer {
  display: flex;
  width: 15em;
  position: relative;
  top: -3em;
}

.deleteButton {
  transform: scale(0.25);
  position: relative;
  left: -23em;
}

.deleteButtonText {
  font-size: 2em;
  color: red;
  position: relative;
  top: 0.25em;
}

.addToCartButton {
  transform: scale(0.25);
  position: relative;
  left: -37.5em;
}

.addToCartButtonText {
  font-size: 1.5em;
  color: aqua;
  position: relative;
  top: 0.25em;
  left: -0.5em;
}

.descriptionText {
  font-size: 1.5em;
}

.priceText {
  font-size: 1.5em;
}

.selectFileContainer {
  position: relative;
  top: 0.5em;
}

.imagePreview {
  position: relative;
  top: 1em;
  left: 5em;
}

.sidebar {
  position: relative;
  top: -0em;
  left: -0.25em;
  background-image: url("assets/images/legoscrollbar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 10em;
  height: 60em;
}

.basketIcon {
  position: relative;
  left: 0.5em;
  top: 0.5em;
}

.editLegoContainer {
  position: relative;
  top: -60em;
  left: 12em;
}

.editLegoFooter {
  position: relative;
  top: -20em;
}

.editLegoText {
  position: relative;
  left: 3em;
}

.editEmailText {
  position: relative;
  left: 2.75em;
}

.editButtonContainer {
  transform: scale(0.75);
  display: flex;
  position: relative;
  top: 1em;
  left: -10em;
}

.basketIconToCart {
  position: relative;
  top: 0.25em;
  left: -1em;
}

.addToCartContainer {
  position: relative;
  left: 15em;
  top: -60em;
}

.descriptionCartInput {
  position: relative;
  left: 1em;
}

.conditionCartInput {
  position: relative;
  left: 1.75em;
}

.cartButtonContainer {
  display: flex;
  position: relative;
  top: 1em;
}

.checkoutCartButton {
  font-size: 24px;
  color: red;
  position: relative;
  padding-top: 0.75em;
  right: -0.25em;
}

.cancelCartButton {
  font-size: 24px;
  color: red;
  position: relative;
  padding-top: 0.75em;
  right: -0.25em;
}

.cancelCartButtonAlign {
  position: relative;
  left: 1em;
}

.eachCartInput {
  position: relative;
  left: 4.5em;
}

.quantityCartInput {
  position: relative;
  left: 2.5em;
}

.subtotalCartInput{
  position: relative;
  left: 2.5em;
}

.cartHeaderText {
  font-size: 3em;
  position: relative;
  left: 1.5em;
  top: 0.25em;
}

.addNewLegoHeaderText {
  font-size: 2em;
  position: relative;
  left: 0.5em;
  top: 0.6em;
}

.addNewLegoContainerButton {
  font-size: 28px;
  color: red;
  text-align: center;
  position: relative;
  top: 1.25em;
  bottom: 0;
  left: 1.25em;
  height: fit-content;
  margin: auto;
}

.addNewLegoContainerButton:hover {
  font-size: 30px;
  color: red;
  position: relative;
  padding-left: 0.75em;
  padding-bottom: 0.25em;
  top: 1.25em;
  left: 0.75em;
  right: 1.25em;
  height: 3em;
  width: auto;
  background-image: url("assets/images/addlegobutton.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  /* Additional CSS properties for styling the container */
  transform: scale(1.2);
}

.addNewLegoContainerButtonText {
  position: relative;
  top: 1.25em;
  left: -1em;
}
